main {
    text-align: center;
    color: rgb(0, 0, 0);

}
body {
    margin: 0;
    padding: 0;
    background-image: url(madagaskarbackground.jpg);
    background-size: 100%;
    background-attachment: fixed;
    
    
}
h1 {
    border: solid;
    text-align: center;
}
h2 {
    border: solid;
    border-color: black;
    border-style: double;
    color: blue;
}
nav {
    align-self: center;
}

#textgrunder{
    display:flex;
    justify-content: flex-start;
}
#gruender{
    display: flex;
    justify-content: center;
}
#gruender2{
    display: flex;
    justify-content: center;
}
#gruender3{
    display: flex;
    justify-content: center;
}
#gruender4{
    display: flex;
    justify-content: center;
}
#gruender5{
    display: flex;
    justify-content: center;
}
#gruender6{
    display: flex;
    justify-content: center;
}
#gruender7{
    display: flex;
    justify-content: center;
}
#gruender8{
    display: flex;
    justify-content: center;
}
#Zoowärter{
    display: flex;
    justify-content: center;
}
#Küchenchef{
    display: flex;
    justify-content: center;
}
#navigator{
    display: flex;
    justify-content: space-evenly;
    border: solid, color(dark);
}
a{
    
    color: saddlebrown;
}
h3{
    color: darkgreen;
}
#texthintergrund{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund2{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund3{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund4{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund5{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund6{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund7{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#texthintergrund8{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: solid;
    border-color: rgba(0, 0, 0, 0.49);
    border-width: 5px;
    background-color: rgba(83, 68, 246, 0.614);
}
#oeffnungszeiten{
    display: flex;
    justify-content: center;
}
#unsrteam{
    display: flex;
    justify-content: space-evenly;
}
#bildunsrteam{
    display: flex;
    justify-content: space-evenly;
}
#standort{
    display: flex;
    justify-content: center;
}
#maps{
    display: flex;
    justify-content: center;
}
#shopartikel{
    display:flex;
    justify-content: space-evenly;
}
#einzelnerartikel{
    display:flex ;
    align-items: center;
}
#zweiartikel{
    display:flex ;
    align-items: center;
}
